/* Starters */

.restaurant-cards--transition1 {
  margin: 40px 13px;
  //   animation: transition 1.5s ease-out 0.5s forwards;
  //   opacity: 0;
}

.restaurant-cards__title {
  font-weight: 300;
  margin-bottom: 12px;
  font-size: 16px;
}

.restaurant-cards__title::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background: #99e2d0;
  margin-top: 10px;
}
