@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");

$maint-font: "Roboto", sans-serif;
$menu-title-font: "Shrikhand", serif;

* {
  font-family: $maint-font;
}
