@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

* {
  font-family: "Roboto", sans-serif;
}

/*header*/
/*Ceci est notre Bloc*/
.navbar {
  width: 100%;
  text-align: center;
}
.navbar__logo {
  background-color: #fff;
  margin: 30px;
  width: 165px;
}
.navbar__search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  height: 50px;
}
.navbar__search__icon {
  margin-left: 50px;
}
.navbar__search__input {
  border: none;
  border-radius: 20px;
  padding: 5px;
  background-color: transparent;
  margin-left: 5px;
  padding-left: 10px;
  color: #353535;
  font-size: 16px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

/*Media Queries Tablette*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .navbar__logo {
    width: 200px;
  }
}
/* Main explore_restaurants*/
.explore-restaurants {
  text-align: center;
  background-color: #f7f7f7;
  padding-top: 0.5px;
}

.explore-restaurants__title {
  font-weight: bold;
  font-size: 24px;
  margin: 40px 50px 0;
  padding: 10px 0;
}

.explore-restaurants__p {
  margin: 20px 30px 0;
  font-size: 18px;
  font-weight: 300;
}

.explore-restaurants__button {
  margin: 25px 0 55px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
  padding: 13px 20px;
  border: none;
  font-weight: 500;
  color: #fff;
}

/*Media Queries Tablette*/
.explore-restaurants__title {
  font-size: 30px;
}

/* Restaurants */
.restaurants {
  margin: 55px 20px 65px;
}
.restaurants .restaurants__title {
  margin-bottom: 35px;
}
.restaurants .restaurants__cards {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.restaurants .restaurants__cards .restaurants__cards__link {
  display: grid;
  grid-template: 70% 30%/75% 25%;
  background: #ffffff;
  color: #000;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  z-index: 0;
}
.restaurants .restaurants__cards .restaurants__cards__link:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  filter: brightness(1.1);
}
.restaurants .restaurants__cards .restaurants__cards__image {
  grid-area: 1/1/2/3;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 100%;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants .restaurants__cards .restaurants__cards__news {
  grid-area: 1/2/1/3;
  z-index: 1;
  margin-top: 20px;
  margin-right: 15px;
}
.restaurants .restaurants__cards .restaurants__cards__news .restaurants__cards__news__text {
  height: 20px;
  background-color: #99e2d0;
  color: #008766;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 10px;
  border-radius: 2px;
}
.restaurants .restaurants__cards .restaurants__cards__item {
  padding: 16px 25px 16px 12px;
}
.restaurants .restaurants__cards .restaurants__cards__item .restaurants__cards__item__text {
  margin-top: 5px;
  font-size: 17px;
  font-weight: 300;
}
.restaurants .restaurants__cards .restaurants__cards__icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 25px;
}
.restaurants .restaurants__cards i.icon-regular {
  margin-right: -24px;
}
.restaurants .restaurants__cards i.icon-solid:hover {
  background-image: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 1;
  line-height: 1;
  cursor: pointer;
  transition: opacity 0.8s ease-in 0.3s;
}
.restaurants .restaurants__cards i.icon-solid:not(:hover) {
  background-image: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  line-height: 1;
  transition: opacity 0.8s ease-in 0.3s;
  opacity: 0;
}

/*Media Queries Tablette*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurants {
    margin: 55px 40px 65px;
  }
  .restaurants .restaurants__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
  }
  .restaurants .restaurants__cards__link {
    flex: 40%;
  }
}
/*Media Queries desktop*/
@media screen and (min-width: 1024px) {
  .restaurants {
    margin: 55px 140px 65px;
  }
  .restaurants .restaurants__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 55px;
    -moz-column-gap: 90px;
         column-gap: 90px;
  }
  .restaurants .restaurants__cards__link {
    flex: 40%;
  }
}
/*Function*/
.function {
  background-color: white;
  padding: 50px 25px 70px 20px;
}

.function__container__cards {
  display: flex;
  align-items: center;
  margin-top: 25px;
  transform: scale(1);
  transition: transform 0.3s ease-in-out 0.1s;
}
.function__container__cards:hover {
  transform: scale(1.05);
}

.function__container__cards__number {
  padding: 5px;
  width: 24px;
  background: #9356dc;
  height: 24px;
  text-align: center;
  border-radius: 24px;
  color: #fff;
  font-size: 15px;
  margin-right: 25px;
  z-index: 2;
}

.function__container__cards__item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  color: #7e7e7e;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin-left: -35px;
  padding: 0px 0px 0px 28px;
}
.function__container__cards__item:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  background-color: #f5edff;
}
.function__container__cards__item:hover .function__container__cards__item__icon {
  color: #9356dc;
}

.function__container__cards__item__p {
  padding-left: 27px;
  color: #000;
}

/*Media Queries Tablette*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .function {
    padding: 50px;
  }
  .function__container__cards {
    margin-top: 28px;
  }
  .function__container__cards__item {
    gap: 25px;
  }
  .function__container__cards__item__p {
    padding-left: 15px;
  }
}
/*Media Queries desktop*/
@media screen and (min-width: 1024px) {
  .function {
    padding: 50px 150px 50px;
  }
  .function__container__cards {
    width: 100%;
    margin-top: 28px;
  }
  .function__container {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .function__container__cards {
    padding: 5px 20px 5px 25px;
  }
  .function__container__cards__item__p {
    padding-left: 20px;
  }
}
/*header*/
.main-header {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 23px 25px 18px;
}

.main-header__logo {
  width: 162px;
  height: auto;
}

.main-header__link {
  position: absolute;
  left: 25px;
  top: 27px;
}

.main-header__link__icon {
  color: #000;
}

/*Media Queries Tablette*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main-header__logo {
    width: 200px;
    height: auto;
  }
  .main-header__link {
    left: 40px;
  }
}
/*Media Queries desktop*/
@media screen and (min-width: 1024px) {
  .main-header__logo {
    width: 200px;
    height: auto;
  }
  .main-header__link {
    left: 60px;
  }
}
/*footer*/
.footer {
  background: #353535;
  padding: 22px 25px 35px;
  color: #fff;
}
.footer__group__column {
  margin-top: 10px;
}
.footer__group__column__link {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.footer__group__column__link--ml {
  color: #fff;
  margin-left: 10px;
}
.footer__group__column__link--ml2 {
  color: #fff;
  margin-left: 5px;
}

/*Media Queries Tablette*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
  }
  .footer .footer__group {
    display: flex;
    align-items: center;
    gap: 45px;
  }
  .footer .footer__group .footer__group__column__link--ml {
    margin-left: 5px;
  }
  .footer .footer__group .footer__group__column__link--ml2 {
    margin-left: 3px;
  }
}
/*Media Queries desktop*/
@media screen and (min-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 130px;
  }
  .footer .footer__icons {
    display: flex;
    margin-top: 8px;
    padding-left: 70px;
  }
  .footer .footer__group {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .footer .footer__group__column__link--ml {
    margin-left: 5px;
  }
  .footer .footer__group__column__link--ml2 {
    margin-left: 3px;
  }
}