/*header*/
/*Ceci est notre Bloc*/
.navbar {
  width: 100%;
  text-align: center;

  &__logo {
    background-color: #fff;
    margin: 30px;
    width: 165px;
  }

  &__search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    height: 50px;

    &__icon {
      margin-left: 50px;
    }

    &__input {
      border: none;
      background-color: transparent;
      margin-left: 5px;
      padding-left: 10px;
      color: #353535;
      font-size: 16px;
      font-weight: bold;
      font-family: "Roboto", sans-serif;
      cursor: pointer;
    }
  }
}
/*Media Queries Tablette*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .navbar__logo {
    width: 200px;
  }
}
