/*Function*/

.function {
  background-color: #ffff;
  padding: 50px 25px 70px 20px;
}

.function__container__cards {
  display: flex;
  align-items: center;
  margin-top: 25px;
  transform: scale(1);
  transition: transform 0.3s ease-in-out 0.1s;

  &:hover {
    transform: scale(1.05);
  }
}

.function__container__cards__number {
  padding: 5px;
  width: 24px;
  background: #9356dc;
  height: 24px;
  text-align: center;
  border-radius: 24px;
  color: #fff;
  font-size: 15px;
  margin-right: 25px;
  z-index: 2;
}

.function__container__cards__item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  color: #7e7e7e;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin-left: -35px;
  padding: 0px 0px 0px 28px;
  &:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    background-color: #f5edff;

    .function__container__cards__item__icon {
      color: #9356dc;
    }
  }
}

.function__container__cards__item__p {
  padding-left: 27px;
  color: #000;
}

/*Media Queries Tablette*/

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .function {
    padding: 50px;
  }

  .function__container__cards {
    margin-top: 28px;
  }

  .function__container__cards__item {
    gap: 25px;
  }

  .function__container__cards__item__p {
    padding-left: 15px;
  }
}

/*Media Queries desktop*/
@media screen and (min-width: 1024px) {
  .function {
    padding: 50px 150px 50px;
  }

  .function__container__cards {
    width: 100%;
    margin-top: 28px;
  }

  .function__container {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .function__container__cards {
    padding: 5px 20px 5px 25px;
  }

  .function__container__cards__item__p {
    padding-left: 20px;
  }
}
